button
{
    background-color: rgb(125, 253, 108);
    color: white ;
    text-align: justify;
}
.un_list
{
background-color: red;
text-align: center;
color: white;
}
.or_list
{
    background-color: blue;
    text-align: right;
    color: white;
}
.des
{
    background-color: yellowgreen;
    text-align: justify;
    color: black;
}
